@CHARSET "UTF-8";

.mams-artlist-article {clear:both; width:100%; padding-top:10px;}
.mams-artlist-arttitle { padding-top: 10px; padding-bottom: 4px; font-size:18px; font-weight:bold; }
.mams-artlist-artaut { padding-bottom: 10px; }
.mams-artlist-arttpdrm { padding-bottom: 4px; clear:both; }
.mams-artlist-artthumb { padding-bottom: 10px; padding-right: 10px;}
.mams-artlist-artpubdesc {  }
.mams-artlist-artpubcat { padding-bottom: 4px; font-size:11px; }
.mams-artlist-artdesc { padding-bottom: 10px;  }
.mams-artlist-artreadmore { float:right; clear: both;}
.mams-artlist-seperator { width:100%; clear: both; margin:10px;}

.mams-author-credentials { }
.mams-author-bio {  }
.mams-author-related {padding-top:10px; clear:both;}
.mams-author-related-title {font-size:16px; font-weight:bold;}
.mams-author-related-links { }
.mams-author-related-link {padding:2px; margin-top:5px;margin-left:5px; margin-right: 5px; width:48%; display:block; float:left;border:1px dotted #cccccc; min-height:80px;}
.mams-author-related-link:hover {border:1px solid #cccccc;background-color:#dddddd;}
.mams-author-related-artaut { font-size:11px; }
.mams-author-related-pubinfo { font-size:11px; }
.mams-author-related-artthumb { padding-top:2px; padding-left:2px; padding-right: 4px; padding-bottom:20px; }
.mams-author-modified { padding-top: 10px; font-size:10px; }

.mams-article-pubinfo { padding-bottom: 4px; font-size:10px; }
.mams-article-media {padding:10px; text-align: center; width: 100%;}
.mams-article-auths { padding-top:10px; padding-left: 20px; margin: 0 auto; text-align:center;}
.mams-article-auth { display: inline; float:left; padding-right:20px; text-align:left;}
.mams-article-downloads { padding-left: 20px; text-align:center;}
.mams-article-downloads a { padding: 3px; margin-right: 10px; border: 1px solid #cccccc; background-color:#dddddd; display:inline;}
.mams-article-title {padding-left: 20px; padding-right:20px; padding-top:10px; font-weight:bold; clear:both;}
.mams-article-content {padding-left: 20px; padding-right:20px; padding-top:10px; clear:both;}
.mams-article-related {padding-top:10px; clear:both;}
.mams-article-related-title {font-size:16px; font-weight:bold;}
.mams-article-related-links { }
.mams-article-related-link {padding:2px; margin-top:5px;margin-left:5px; margin-right: 5px; width:48%; display:block; float:left;border:1px dotted #cccccc; min-height:80px;}
.mams-article-related-link:hover {border:1px solid #cccccc;background-color:#dddddd;}
.mams-article-related-artaut { font-size:11px; }
.mams-article-related-pubinfo { font-size:10px; }
.mams-article-related-artthumb { padding-top:2px; padding-left:2px; padding-right: 4px; padding-bottom:20px; }
.mams-article-modified { padding-top: 10px; font-size:10px; }
.mams-artlist-pagination-pages {text-align:center;font-size:11px;}

