@CHARSET "UTF-8";

.mams-artlist-article {clear:both; width:100%; padding-top:10px;}
.mams-artlist-arttitle { padding-top: 10px; padding-bottom: 4px; font-size:18px; font-weight:bold; }
.mams-artlist-artaut { padding-bottom: 10px; }
.mams-artlist-arttpdrm { padding-bottom: 4px; clear:both; }
.mams-artlist-artthumb { padding-bottom: 10px; padding-right: 10px;}
.mams-artlist-artpubdesc {  }
.mams-artlist-artpubcat { padding-bottom: 4px; font-size:11px; }
.mams-artlist-artdesc { padding-bottom: 10px;  }
.mams-artlist-artreadmore { float:right; clear: both;}
.mams-artlist-seperator { width:100%; clear: both; padding:10px 0 0 0; border-bottom: dotted 1px #aaaaaa;}

.mams-artlist-artreadmore .read-more { 
	-moz-box-shadow: 0px 1px 1px 0px #000000;
	-webkit-box-shadow: 0px 1px 1px 0px #000000;
	box-shadow: 0px 1px 1px 0px #000000;
	
	background: rgb(35,71,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzNDc4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjI1NDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(35,71,128,1) 0%, rgba(18,37,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,71,128,1)), color-stop(100%,rgba(18,37,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234780', endColorstr='#122543',GradientType=0 ); /* IE6-8 */

	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border: none;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #222222;
	margin:0 5px;
	min-width: 100px;
	text-align: center;

}

.mams-artlist-artreadmore .read-more:hover {
	background: rgb(18,37,67); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMjU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzQ3ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(18,37,67,1) 0%, rgba(35,71,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,37,67,1)), color-stop(100%,rgba(35,71,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122543', endColorstr='#234780',GradientType=0 ); /* IE6-8 */
	color: #ffffff;
}

.mams-artlist-artreadmore .read-more:active {
	position:relative;
	top:1px;
}

.mams-author-credentials { }
.mams-author-bio {  }
.mams-author-related {padding-top:10px; clear:both;}
.mams-author-related-title {font-size:16px; font-weight:bold;}
.mams-author-related-links { }
.mams-author-related-link {font-size:13px;padding:2px; margin:5px; width:47%; display:block; float:left; min-height:100px; line-height:16px; border: solid #aaaaaa 1px; background: #d5e5ff; -webkit-box-shadow: 0px 2px 2px 0px #444444; box-shadow: 0px 2px 2px 0px #444444; webkit-border-radius: 2px 2px 2px 2px; -moz-border-radius: 2px 2px 2px 2px; border-radius: 2px 2px 2px 2px;}
.mams-author-related-link:hover {background-color:#ffffcc;}
.mams-author-related-artaut { font-size:11px; }
.mams-author-related-pubinfo { font-size:11px; }
.mams-author-related-artthumb { padding-top:2px; padding-left:2px; padding-right: 4px; padding-bottom:40px; }
.mams-author-modified { padding-top: 10px; font-size:10px; }

.mams-article-pubinfo { padding-bottom: 4px; font-size:10px; }
.mams-article-media {padding:10px; text-align: center; width: 100%;}
.mams-article-auths { padding-top:10px; padding-left: 20px; margin: 0 auto; text-align:center;}
.mams-article-auth { display: inline; float:left; padding-right:20px; text-align:left;margin-top:10px;}
.mams-article-downloads { padding-left: 20px; text-align:center;}
.mams-article-downloads a  { 
	-moz-box-shadow: 0px 1px 1px 0px #000000;
	-webkit-box-shadow: 0px 1px 1px 0px #000000;
	box-shadow: 0px 1px 1px 0px #000000;
	background: rgb(35,71,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzNDc4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjI1NDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(35,71,128,1) 0%, rgba(18,37,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,71,128,1)), color-stop(100%,rgba(18,37,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(35,71,128,1) 0%,rgba(18,37,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234780', endColorstr='#122543',GradientType=0 ); /* IE6-8 */
-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border: none;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #222222;
	margin:0 5px;
	min-width: 100px;
	text-align: center;
}
.mams-article-downloads a:hover {
	background: rgb(18,37,67); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMjU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzQ3ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(18,37,67,1) 0%, rgba(35,71,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,37,67,1)), color-stop(100%,rgba(35,71,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(18,37,67,1) 0%,rgba(35,71,128,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122543', endColorstr='#234780',GradientType=0 ); /* IE6-8 */
	color: #ffffff;
}
.mams-article-downloads a:active {
	position:relative;
	top:1px;
}
.mams-article-title {padding-left: 20px; padding-right:20px; padding-top:10px; font-weight:bold; clear:both;}
.mams-article-content {padding-left: 20px; padding-right:20px; padding-top:10px; clear:both;}
.mams-article-related {padding-top:10px; clear:both;}
.mams-article-related-title {font-size:16px; font-weight:bold;}
.mams-article-related-links { }
.mams-article-related-link {font-size:13px;padding:6px; margin:5px; width:46%; display:block; float:left; min-height:100px; line-height:16px; border: solid #aaaaaa 1px; background: #d5e5ff; -webkit-box-shadow: 0px 2px 2px 0px #444444; box-shadow: 0px 2px 2px 0px #444444; webkit-border-radius: 2px 2px 2px 2px; -moz-border-radius: 2px 2px 2px 2px; border-radius: 2px 2px 2px 2px;}
.mams-article-related-link:hover {background-color:#ffffcc;}
.mams-article-related-artaut { font-size:11px; }
.mams-article-related-pubinfo { font-size:10px; }
.mams-article-related-artthumb { padding-top:2px; padding-left:2px; padding-right: 6px; padding-bottom:6px; }
.mams-article-modified { padding-top: 10px; font-size:10px; }
.mams-artlist-pagination-pages {text-align:center;font-size:11px;line-height:14px;padding-top:2px;}
