<?xml version="1.0" encoding="utf-8"?>

<config>
 	<fieldset name="general" label="COM_MAMS_CONFIG_SETTINGS_LABEL" description="COM_MAMS_CONFIG_SETTINGS_DESC" addfieldpath="/administrator/components/com_mams/models/fields">
		<field name="reggroup" type="AccessLevelMulti" id="regaccess" class="inputbox" label="COM_MAMS_CONFIG_FIELD_REGGROUP_LABEL" description="COM_MAMS_CONFIG_FIELD_REGGROUP_DESC" default="1" multiple="true" />
		<field name="ovgroup" type="accesslevel" id="ovaccess" class="inputbox" label="COM_MAMS_CONFIG_FIELD_OVGROUP_LABEL" description="COM_MAMS_CONFIG_FIELD_OVGROUP_DESC" default="1"  />
		<field name="loginmsg" type="text" label="COM_MAMS_CONFIG_FIELD_LOGINMSG_LABEL" description="COM_MAMS_CONFIG_FIELD_LOGINMSG_DESC" size="70" class="inputbox" required="false" default="Login required" />
		<field name="noaccessmsg" type="text" label="COM_MAMS_CONFIG_FIELD_NOACCESSMSG_LABEL" description="COM_MAMS_CONFIG_FIELD_NOACCESSMSG_DESC" size="70" class="inputbox" required="false" default="Access level not met" />
		<field name="num_related" type="text" label="COM_MAMS_CONFIG_FIELD_NUMRELATED_LABEL" description="COM_MAMS_CONFIG_FIELD_NUMRELATED_DESC" size="10" class="inputbox" required="false" default="10" />
		<field name="compcss" type="radio" label="COM_MAMS_CONFIG_FIELD_COMPCSS_LABEL" description="COM_MAMS_CONFIG_FIELD_COMPCSS_DESC" default="0" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
	<fieldset name="jbasic" label="COM_MAMS_FIELDSET_MORE_OPTIONS_LABEL">
		<field name="show_pubinfo" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBINFO_DESC" label="COM_MAMS_FIELD_SHOW_PUBINFO_LABEL" default="1">	
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_title2" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_TITLE2_DESC" label="COM_MAMS_FIELD_SHOW_TITLE2_LABEL" default="0">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_pubdate" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBDATE_DESC" label="COM_MAMS_FIELD_SHOW_PUBDATE_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_related" type="radio" label="COM_MAMS_FIELD_SHOW_RELATED_LABEL" description="COM_MAMS_FIELD_SHOW_RELATED_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_authcred" type="radio" label="COM_MAMS_FIELD_SHOW_AUTHCRED_LABEL" description="COM_MAMS_FIELD_SHOW_AUTHCRED_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_imgtitle" type="radio" label="COM_MAMS_FIELD_SHOW_IMGTITLE_LABEL" description="COM_MAMS_FIELD_SHOW_IMGTITLE_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_imgdetails" type="radio" label="COM_MAMS_FIELD_SHOW_IMGDETAILS_LABEL" description="COM_MAMS_FIELD_SHOW_IMGDETAILS_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="restrictcat" type="radio" label="COM_MAMS_FIELD_RESTRICTCAT_LABEL" description="COM_MAMS_FIELD_RESTRICTCAT_DESC" class="btn-group" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>
	<fieldset name="video" label="COM_MAMS_CONFIG_VIDEO_LABEL" description="COM_MAMS_CONFIG_VIDEO_DESC">
		<field name="vid_w" type="text" label="COM_MAMS_CONFIG_FIELD_VIDW_LABEL" description="COM_MAMS_CONFIG_FIELD_VIDW_DESC" size="5" class="inputbox" required="false" integer="true" default="768" />
		<field name="vid_h" type="text" label="COM_MAMS_CONFIG_FIELD_VIDH_LABEL" description="COM_MAMS_CONFIG_FIELD_VIDH_DESC" size="5" class="inputbox" required="false" integer="true" default="432" />
		<field name="vid5_url" type="text" label="COM_MAMS_CONFIG_FIELD_VID5URL_LABEL" description="COM_MAMS_CONFIG_FIELD_VID5URL_DESC" size="120" class="inputbox" required="false" default="files.mycdn.com" />
		<field name="playlist_h" type="text" label="COM_MAMS_CONFIG_FIELD_PLAYLISTH_LABEL" description="COM_MAMS_CONFIG_FIELD_PLAYLISTH_DESC" size="5" class="inputbox" required="false" integer="true" default="200" />
		<field name="player_fixed" type="radio" description="COM_MAMS_CONFIG_FIELD_PLAYER_FIXED_DESC" label="COM_MAMS_CONFIG_FIELD_PLAYER_FIXED_LABEL" default="0" class="btn-group">
			<option value="1">Fixed</option>
			<option value="0">Responsive</option>
		</field>
	</fieldset>
	<fieldset name="auido" label="COM_MAMS_CONFIG_AUDIO_LABEL" description="COM_MAMS_CONFIG_AUDIO_DESC">
		<field name="aud_w" type="text" label="COM_MAMS_CONFIG_FIELD_AUDW_LABEL" description="COM_MAMS_CONFIG_FIELD_AUDW_DESC" size="5" class="inputbox" required="false" integer="true" default="768" />
		<field name="aud_h" type="text" label="COM_MAMS_CONFIG_FIELD_AUDH_LABEL" description="COM_MAMS_CONFIG_FIELD_AUDH_DESC" size="5" class="inputbox" required="false" integer="true" default="432" />
	</fieldset>
	<fieldset name="reporting" label="COM_MAMS_CONFIG_REPORTING_LABEL" description="COM_MAMS_CONFIG_REPORTING_DESC">
		<field name="gapro" type="radio" label="COM_MAMS_CONFIG_FIELD_GANAL_LABEL" description="COM_MAMS_CONFIG_FIELD_GANAL_DESC" default="1" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="mue" type="radio" label="COM_MAMS_CONFIG_FIELD_MUE_LABEL" description="COM_MAMS_CONFIG_FIELD_MUE_DESC" default="0" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="except_iplist" type="text" label="COM_MAMS_CONFIG_FIELD_EXCEPTIP_LABEL" description="COM_MAMS_CONFIG_FIELD_EXCEPTIP_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="except_userlist" type="text" label="COM_MAMS_CONFIG_FIELD_USERID_LABEL" description="COM_MAMS_CONFIG_FIELD_USERID_DESC" size="70" class="inputbox" required="false" default="" />
	</fieldset>
	<fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno"  default="1" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC" >
                <option value="0">JNO</option>
                <option value="1">JYES</option>
        </field>
        <field name="history_limit" type="text" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" default="5" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        	<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_mams" section="component" />
    </fieldset>
</config>

