<?xml version="1.0" encoding="utf-8"?>

<config>
 	<fieldset name="general" label="COM_MAMS_CONFIG_SETTINGS_LABEL" description="COM_MAMS_CONFIG_SETTINGS_DESC" addfieldpath="/administrator/components/com_mams/models/fields">
		<field name="reggroup" type="AccessLevelMulti" id="regaccess" class="inputbox" label="COM_MAMS_CONFIG_FIELD_REGGROUP_LABEL" description="COM_MAMS_CONFIG_FIELD_REGGROUP_DESC" default="2" multiple="true" />
		<field name="ovgroup" type="accesslevel" id="ovaccess" class="inputbox" label="COM_MAMS_CONFIG_FIELD_OVGROUP_LABEL" description="COM_MAMS_CONFIG_FIELD_OVGROUP_DESC" default="3"  />
		<field name="loginmsg" type="text" label="COM_MAMS_CONFIG_FIELD_LOGINMSG_LABEL" description="COM_MAMS_CONFIG_FIELD_LOGINMSG_DESC" size="70" class="inputbox" required="false" default="Login required" />
		<field name="noaccessmsg" type="text" label="COM_MAMS_CONFIG_FIELD_NOACCESSMSG_LABEL" description="COM_MAMS_CONFIG_FIELD_NOACCESSMSG_DESC" size="70" class="inputbox" required="false" default="Access level not met" />
		<field name="related_sec" type="radio" label="COM_MAMS_CONFIG_FIELD_RELATEDSEC_LABEL" description="COM_MAMS_CONFIG_FIELD_RELATEDSEC_DESC" default="0" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="num_related" type="text" label="COM_MAMS_CONFIG_FIELD_NUMRELATED_LABEL" description="COM_MAMS_CONFIG_FIELD_NUMRELATED_DESC" size="10" class="inputbox" required="false" default="10" />
		<field name="relatedby" type="radio" label="COM_MAMS_CONFIG_FIELD_RELATEDBY_LABEL" description="COM_MAMS_CONFIG_FIELD_RELATEDBY_DESC" default="both" class="btn-group">
			<option value="category">Category</option>
			<option value="author">Author</option>
			<option value="both">Both</option>
		</field>
		<field name="compcss" type="radio" label="COM_MAMS_CONFIG_FIELD_COMPCSS_LABEL" description="COM_MAMS_CONFIG_FIELD_COMPCSS_DESC" default="0" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="divwrapper" type="radio" label="COM_MAMS_CONFIG_FIELD_DIVWRAPPER_LABEL" description="COM_MAMS_CONFIG_FIELD_DIVWRAPPER_DESC" default="1" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="wrapperclass" type="text" label="COM_MAMS_CONFIG_FIELD_WRAPPERCLASS_LABEL" description="COM_MAMS_CONFIG_FIELD_WRAPPERCLASS_DESC" size="40" class="inputbox" required="false" default="uk-article" />
	</fieldset>
	<fieldset name="jbasic" label="COM_MAMS_FIELDSET_MORE_OPTIONS_LABEL">
		<field name="article_seclock" type="radio" label="COM_MAMS_FIELD_SECLOCK_LABEL" description="COM_MAMS_FIELD_SECLOCK_DESC" class="btn-group" default="1">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="article_catlock" type="radio" label="COM_MAMS_FIELD_CATLOCK_LABEL" description="COM_MAMS_FIELD_CATLOCK_DESC" class="btn-group" default="1">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="article_taglock" type="radio" label="COM_MAMS_FIELD_TAGLOCK_LABEL" description="COM_MAMS_FIELD_TAGLOCK_DESC" class="btn-group" default="1">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="show_artlist_desc" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_ARTLIST_DESC_DESC" label="COM_MAMS_FIELD_SHOW_ARTLIST_DESC_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_pubinfo" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBINFO_DESC" label="COM_MAMS_FIELD_SHOW_PUBINFO_LABEL" default="1">	
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_tags" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_TAGS_DESC" label="COM_MAMS_FIELD_SHOW_TAGS_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="link_tags" class="btn-group" type="radio" description="COM_MAMS_FIELD_LINK_TAGS_DESC" label="COM_MAMS_FIELD_LINK_TAGS_LABEL" default="1">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="show_tags_location" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_TAGS_LOCATION_DESC" label="COM_MAMS_FIELD_SHOW_TAGS_LOCATION_LABEL" default="above">
			<option value="above">Above</option>
			<option value="below">Below</option>
			<option value="after">After</option>
		</field>
		<field name="show_title2" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_TITLE2_DESC" label="COM_MAMS_FIELD_SHOW_TITLE2_LABEL" default="0">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_pubdate" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBDATE_DESC" label="COM_MAMS_FIELD_SHOW_PUBDATE_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_modified" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_MODIFIED_DESC" label="COM_MAMS_FIELD_SHOW_MODIFIED_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="auth_byrow" class="btn-group" type="radio" description="COM_MAMS_FIELD_AUTH_BYROW_DESC" label="COM_MAMS_FIELD_AUTH_BYROW_LABEL" default="2">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="6">6</option>
		</field>
		<field name="show_mainauth" type="radio" label="COM_MAMS_FIELD_SHOW_MAINAUTH_LABEL" description="COM_MAMS_FIELD_SHOW_MAINAUTH_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_authcred" type="radio" label="COM_MAMS_FIELD_SHOW_AUTHCRED_LABEL" description="COM_MAMS_FIELD_SHOW_AUTHCRED_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_authimg" type="radio" label="COM_MAMS_FIELD_SHOW_AUTHIMG_LABEL" description="COM_MAMS_FIELD_SHOW_AUTHIMG_DESC" class="btn-group" default="0">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_imgtitle" type="radio" label="COM_MAMS_FIELD_SHOW_IMGTITLE_LABEL" description="COM_MAMS_FIELD_SHOW_IMGTITLE_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_imgdetails" type="radio" label="COM_MAMS_FIELD_SHOW_IMGDETAILS_LABEL" description="COM_MAMS_FIELD_SHOW_IMGDETAILS_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="restrictcat" type="radio" label="COM_MAMS_FIELD_RESTRICTCAT_LABEL" description="COM_MAMS_FIELD_RESTRICTCAT_DESC" class="btn-group" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="orderby" type="list" description="COM_MAMS_FIELD_ORDERBY_DESC" label="COM_MAMS_FIELD_ORDERBY_LABEL" default="pubdsc">
			<option value="pubasc">COM_MAMS_ORDER_PUBASC</option>
			<option value="pubdsc">COM_MAMS_ORDER_PUBDSC</option>
			<option value="titasc">COM_MAMS_ORDER_TITASC</option>
			<option value="titdsc">COM_MAMS_ORDER_TITDSC</option>
		</field>
		<field name="articlepages_sep01_bar" type="spacer" hr="true" />
		<field name="articlepages_sep01" type="spacer" label="Article Related Items" />
		<field name="show_related" type="radio" label="COM_MAMS_FIELD_SHOW_RELATED_LABEL" description="COM_MAMS_FIELD_SHOW_RELATED_DESC" class="btn-group" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="related_by_feataccess" type="radio" label="COM_MAMS_FIELD_RELATEDBYFEATACCESS_LABEL" description="COM_MAMS_FIELD_RELATEDBYFEATACCESS_DESC" class="btn-group" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="show_related_desc" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_RELATED_DESC_DESC" label="COM_MAMS_FIELD_SHOW_RELATED_DESC_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_related_readmore" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_RELATED_READMORE_DESC" label="COM_MAMS_FIELD_SHOW_RELATED_READMORE_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="related_readmore_text" type="text" description="COM_MAMS_FIELD_PUBED_READMORE_DESC" label="COM_MAMS_FIELD_PUBED_READMORE_LABEL" default="Read More" />
	</fieldset>
    <fieldset name="authpages" label="COM_MAMS_CONFIG_AUTHORS_LABEL" description="COM_MAMS_CONFIG_AUTHORS_DESC">
		<field name="authpages_sep00" type="spacer" label="Author Lists" />
        <field name="show_authlink" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_AUTHLINK_DESC" label="COM_MAMS_FIELD_SHOW_AUTHLINK_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="show_cred" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_AUTHCRED_DESC" label="COM_MAMS_FIELD_SHOW_AUTHCRED_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="show_aimg" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_AUTHIMG_DESC" label="COM_MAMS_FIELD_SHOW_AUTHIMG_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="show_desc" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_AUTHDESC_DESC" label="COM_MAMS_FIELD_SHOW_AUTHDESC_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="show_readmore" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_READMORE_DESC" label="COM_MAMS_FIELD_SHOW_READMORE_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="readmore_text" type="text" description="COM_MAMS_FIELD_READMORE_DESC" label="COM_MAMS_FIELD_READMORE_LABEL" default="Read More" />
		<field name="authpages_sep01_bar" type="spacer" hr="true" />
		<field name="authpages_sep01" type="spacer" label="Author Pages" />
        <field name="show_pubed" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBED_DESC" label="COM_MAMS_FIELD_SHOW_PUBED_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
		<field name="show_pubed_additional" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBED_ADDITIONAL_DESC" label="COM_MAMS_FIELD_SHOW_PUBED_ADDITIONAL_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
        <field name="show_pubed_thumb" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBED_THUMB_DESC" label="COM_MAMS_FIELD_SHOW_PUBED_THUMB_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="show_pubdate" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBDATE_DESC" label="COM_MAMS_FIELD_SHOW_PUBDATE_LABEL" default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
		<field name="pubed_by_feataccess" type="radio" label="COM_MAMS_FIELD_PUBEDBYFEATACCESS_LABEL" description="COM_MAMS_FIELD_PUBEDBYFEATACCESS_DESC" class="btn-group" default="0">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="show_pubed_desc" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBED_DESC_DESC" label="COM_MAMS_FIELD_SHOW_PUBED_DESC_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_pubed_readmore" class="btn-group" type="radio" description="COM_MAMS_FIELD_SHOW_PUBED_READMORE_DESC" label="COM_MAMS_FIELD_SHOW_PUBED_READMORE_LABEL" default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="pubed_readmore_text" type="text" description="COM_MAMS_FIELD_PUBED_READMORE_DESC" label="COM_MAMS_FIELD_PUBED_READMORE_LABEL" default="Read More" />
    </fieldset>
	<fieldset name="video" label="COM_MAMS_CONFIG_VIDEO_LABEL" description="COM_MAMS_CONFIG_VIDEO_DESC">
		<field name="vid_w" type="text" label="COM_MAMS_CONFIG_FIELD_VIDW_LABEL" description="COM_MAMS_CONFIG_FIELD_VIDW_DESC" size="5" class="inputbox" required="false" integer="true" default="768" />
		<field name="vid_h" type="text" label="COM_MAMS_CONFIG_FIELD_VIDH_LABEL" description="COM_MAMS_CONFIG_FIELD_VIDH_DESC" size="5" class="inputbox" required="false" integer="true" default="432" />
		<field name="vid5_url" type="text" label="COM_MAMS_CONFIG_FIELD_VID5URL_LABEL" description="COM_MAMS_CONFIG_FIELD_VID5URL_DESC" size="120" class="inputbox" required="false" default="files.mycdn.com" />
		<field name="vid_https" type="radio" label="COM_MAMS_CONFIG_FIELD_VIDHTTPS_LABEL" description="COM_MAMS_CONFIG_FIELD_VIDHTTPS_DESC" default="0" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="playlist_h" type="text" label="COM_MAMS_CONFIG_FIELD_PLAYLISTH_LABEL" description="COM_MAMS_CONFIG_FIELD_PLAYLISTH_DESC" size="5" class="inputbox" required="false" integer="true" default="200" />
		<field name="player_fixed" type="radio" description="COM_MAMS_CONFIG_FIELD_PLAYER_FIXED_DESC" label="COM_MAMS_CONFIG_FIELD_PLAYER_FIXED_LABEL" default="0" class="btn-group">
			<option value="1">Fixed</option>
			<option value="0">Responsive</option>
		</field>
		<field name="player_multiple" type="radio" description="COM_MAMS_CONFIG_FIELD_PLAYER_MULTI_DESC" label="COM_MAMS_CONFIG_FIELD_PLAYER_MULTI_LABEL" default="0" class="btn-group">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field name="show_media_title" type="radio" description="COM_MAMS_CONFIG_FIELD_SHOW_MEDIA_TITLE_DESC" label="COM_MAMS_CONFIG_FIELD_SHOW_MEDIA_TITLE_LABEL" default="0" class="btn-group">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
	</fieldset>
	<fieldset name="reporting" label="COM_MAMS_CONFIG_REPORTING_LABEL" description="COM_MAMS_CONFIG_REPORTING_DESC">
		<field name="gapro" type="radio" label="COM_MAMS_CONFIG_FIELD_GANAL_LABEL" description="COM_MAMS_CONFIG_FIELD_GANAL_DESC" default="1" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="mue" type="radio" label="COM_MAMS_CONFIG_FIELD_MUE_LABEL" description="COM_MAMS_CONFIG_FIELD_MUE_DESC" default="0" class="btn-group">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="except_iplist" type="text" label="COM_MAMS_CONFIG_FIELD_EXCEPTIP_LABEL" description="COM_MAMS_CONFIG_FIELD_EXCEPTIP_DESC" size="70" class="inputbox" required="false" default="" />
		<field name="except_userlist" type="text" label="COM_MAMS_CONFIG_FIELD_USERID_LABEL" description="COM_MAMS_CONFIG_FIELD_USERID_DESC" size="70" class="inputbox" required="false" default="" />
	</fieldset>
	<fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno"  default="1" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC" >
                <option value="0">JNO</option>
                <option value="1">JYES</option>
        </field>
        <field name="history_limit" type="text" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" default="5" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        	<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_mams" section="component" />
    </fieldset>
</config>

